.errorScreen_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.errorScreen_title{
    font-size: var(--s-font);
    font-weight: 200;
    color: var(--bg-gray);
    font-family: 'SpaceGrotesk';
}
.errorScreen_img{
    width: 100%;
    max-width: 250px;
    user-select: none;
}
.errorScreen_title__main{
    font-size: var(--xl-font);
    font-weight: 200;
    color: var(--riot-red);
    font-family: 'SpaceGrotesk'; 
}
.small_text{
    color: var(--bg-gray);
    font-size: var(--xs-font);
    text-align: center;
}